<!-- linking with the main css -->
<link rel="stylesheet" href="/assets/cloud/css/style.css">


<div class="wrapper">
    <!-- Sidebar start -->
    <nav id="sidebar" class="sidebar-main">

        <ul class="list-unstyled components">

            <li>
                <a href="/index">Instance</a>
            </li>
            <li>
                <a href="/claudion/firewall">Firewalls</a>
            </li>

        </ul>


    </nav>
    <!-- sidebar end -->


    <!-- page content starting -->
    <div id="content">


        <div class="d-flex justify-content-between " id="div-space">
            <h2>Instance</h2>
            <a href="/create-instance"><button class="btn btn-primary" id="create-btn">Create Linode</button></a>
        </div>
        <div>
            <table class="table " id="myTable">
                <!-- table head -->
                <tr>
                    <th>Label</th>
                    <th>Username</th>
                    <th>Plan</th>
                    <th>Created date</th>
                    <th>Region</th>
                    <th>Price/mo</th>
                    <th></th>

                </tr>
                <!-- end table_head -->


                <!-- looping the data to display one by one -->
                {%for data in datas%}
                <!-- table_body -->
                <tr id="#details">
                    <td>{{data.label}}</td>
                    <td>{{data.username}}</td>
                    <td>{{data.plan}}</td>
                    <td>{{data.creation_date}}</td>
                    <td>{{data.region}}</td>
                    <td>{{data.price_per_intervel}}</td>
                    <td><a href="claudion/details_page/{{data.name}}" class="btn btn-primary btn-sm">Details</a>
                        <a onclick="CustomConfirm.show('This will PowerOFF {{data.label}} instance',ins_poweroff)"
                            id="inst_btn">PowerOFF</a>
                        <a onclick="CustomConfirm.show('This will PowerON {{data.label}} instance',ins_poweron)"
                            id="inst_btn">PowerON</a>
                        <a onclick="CustomConfirm.show('This will  Reboot {{data.label}} instance',ins_reboot)"
                            id="inst_btn">Reboot</a>
                    </td>
                    <td id="oci_id">{{data.oci}}</td>
                </tr>
                <!-- table_body end -->
                {%endfor%}
            </table>

        </div>
        <!-- conformation alert secrtion start -->
        {%for data in datas%}

        <div id=freezeLayer class="freeze-layer" style="display: none;"></div>
        <div id="dialogCont" class="dlg-container">
            <div class="dlg-header">Message</div>
            <div class="dlg-body" id="dlgBody"></div>
            <div class="dlg-footer">
                <a onclick="CustomConfirm.okey();" href="claudion/details_page/{{data.name}}">OK</a>
                <a onclick="CustomConfirm.close();">Cancel</a>
            </div>
        </div>
        {%endfor%}
        <!-- conformation alert secrtion end -->
    </div>
    <!-- page content ennd -->
</div>