<!-- linking with the main css -->
<link rel="stylesheet" href="/assets/cloud/css/style.css">


<div class="wrapper">
    <!-- Sidebar start -->
    <nav id="sidebar" class="sidebar-main">

        <ul class="list-unstyled components">

            <li>
                <a href="/claudion/index">Cloud Server</a>
            </li>
            <li>
                <a href="/claudion/firewall">Firewalls</a>
            </li>

        </ul>


    </nav>
    <!-- sidebar end -->


    <!-- page content starting -->
    <div id="content">


        <div class="d-flex justify-content-between " id="div-space">
            <h2>Cloud Server</h2>
            <a href="/create-instance"><button class="btn btn-primary comp-creation" id="create-btn">Create Cloud Server</button></a>
        </div>
        <div>
            <table class="table " id="myTable">
                <!-- table head -->
                <tr>
                    <th>Label</th>
                    <th>Username</th>
                    <th>Plan</th>
                    <th>Created date</th>
                    <th>Region</th>
                    <th>Price/mo</th>
                    <th></th>
                    

                </tr>
                <!-- end table_head -->


                <!-- looping the data to display one by one -->
                {%for data in datas%}
                <!-- table_body -->
                {%if frappe.session.user==data.email%}
                <tr id="#details">
                    <td>{{data.label}}</td>
                    <td>{{data.username}}</td>
                    <td>{{data.plan}}</td>
                    <td>{{data.creation_date}}</td>
                    <td>{{data.region}}</td>
                    <td>{{data.price_per_intervel}}</td>
                    <td><a href="/claudion/details_page/{{data.name}}" class="btn btn-primary btn-sm ">Details</a>
                <!-- table_body end -->
       
        {%endif%}
                {%endfor%}
            </table>
        </div>
    </div>
    <!-- page content ennd -->
</div>