
th{
    background-color:#c5caf8;
}
td{
    background-color:#F0F0F0;
}

#create-btn{
    width:  180px; 
}

#details{
    height: 30px;
}
#oci_id{
    display: none;
}


#inst_btn{
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}
/* #sidebar ul li.active a{
  color:black ;
  background: white;

} */




