

.page-header-actions-block{
    display: none;
}
.text-right{
    display: none; 
}
h2{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
}
hr{
    display: none;
}
.btn-primary{
    font-size: 18px;
    
    width:190px;
    margin-right: 40px;
    
}


.btn-primary:hover{
background-color: #14cc14;

}

.control-label{
    font-size: 13px;
    font-family: 'Russo One', sans-serif;

}

h3{
    color: rgb(79, 125, 211);
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;

}
.month-cost{
    color: green;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
    
}

.page-header{
    display: none;
}
.hr { display: block;   
    border-width: 2x;
    background-color: black;
}
.label{
    color:green;
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bolder;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Fjalla One', sans-serif;

    font-size: 21px;

    
}
.label-disp{
    font-size: 15px;
    padding-left: 14px;
    
    color: black;
    

}
.plan{
    color:green;

    padding-left: 30px;
    font-weight: bolder;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Fjalla One', sans-serif;

    font-size: 21px;

}
.summery{
    
    position: fixed;
    margin-left: 76%;
    height: 600px;
    top: 10px;
    
    z-index: 1; /* Stay on top *//* Stay at the top */
    left: 0;
    top: 64px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: all .3s;

}
.web-form-wrapper{
    margin-right: -20px;
    margin-top: -18px;
    margin-left: -20px;
    
}
.form-group{
    padding-left: 20px;
    padding-right: 10px;
}
.form-section:nth-child(1){
    background-color:#F0F0F0;
   
    margin-top: 20px;
    border-radius: 3px;
    margin: 10px;
    
    
    
}
.form-section:nth-child(2){
    background-color:#F0F0F0;
    margin-top: 20px;
    border-radius: 3px;
    margin: 10px;
    
    
}
.form-section:nth-child(3){
    background-color:#f0f0f0;
    margin-top: 20px;
    border-radius: 3px;
    margin: 10px;
    
    
}
.form-section:nth-child(4){
    background-color:#F0F0F0;
    margin-top: 20px;
    border-radius: 3px;
    margin: 10px;
    
    
}
.form-section:nth-child(5){
    background-color:#F0F0F0;
    margin-top: 20px;
    border-radius: 3px;
    margin: 10px;
    
    
}
 .section-head{
    margin-left: 15px;
    font-size: 10px;
    
} 
/* .form-section-description{
    margin-top: -15px;
} */
/* .section-body .form-column{
    margin-top: 10px;
} */
.web-footer{
    margin-top: -70px;
}
.control-input-wrapper{
    background-color: white;
}
.distri-img{
    height: 100px;
}
.distri-card{
    margin-left: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 155px;
    width: 125px;
    cursor: pointer;
}
.distri-card-text{
    margin-top: -10px;
    margin-left: 10px;
    font-weight: bold;
}
.flag-icon{
    height:60px;
    

}
.region-card{
    margin-left: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 140px;
    width: 125px;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
}
.reg-card-head{
    padding-top: 15px;
    font-weight: bold;
    margin-left: 10px;
    
}
.region-heading{
    margin-left: 33px;
    margin-top: 10px;
    
}
.plan-card{
    border-radius: 0px;
    background-color: white;
    margin-left: 33px;
    margin-top: 10px;
    height: 160px;
    width: 163px;
    margin-bottom: 10px;
    cursor: pointer;
}
.plan-card-head{
    color: green;
    background-color: white;
    font-weight:bold;
    

    
}
/* .plan-card-head:hover {
    color:white ;
    background: rgb(46, 131, 243);
  } */
.card:hover {
    color:white ;
    background: rgb(46, 131, 243);
  }
  
.active{
    color:white ;
    background-color: rgb(46, 131, 243);

}
