
::-webkit-scrollbar {
    display: none;
  }
  .mystyle{
      display: none;
  }

  .web-footer{
    display: none;
  }
.text-right{
    display: none; 
  }
  .navbar-light{
    height: 64px;
  }

  
  
  #sidebar {
    background:#32363b;
    position: sticky;
    height: 600px;
    top: 10px;    
  }
  .sidebar-main{
    border-radius: 4px;
  }
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    padding-left: 30px;
  }
  
#sidebar ul li a:hover {
  color:black ;
  background: white;
}

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top *//* Stay at the top */
    left: 0;
    top: 64px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: all .3s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px;
    /* max-width: calc(100% - 280px); */
    background-color: #FFF;
    transition: all .6s linear;
    padding-top: 20px;
    overflow: overlay;
    padding-bottom: 1
  }
  .table-sec{
  margin: 17px;
  
}

/* index page */

th{
  background-color:#c5caf8;
}
td{
  background-color:#F0F0F0;
}

#create-btn{
  width:  200px; 
}

#details{
  height: 30px;
}
#oci_id{
  display: none;
}


#inst_btn{
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}



/* details page css start */

.brd{
  border-radius: 2px;
}
#t-head{
    background-color: #c5caf8;
    
}
#t-body{
    background-color: #F0F0F0;
    border-radius:2px;
}
.card-head-link{
    margin-left: 590px;
    font-size: 14px;
    
    
    
}
.link-space{
    
    font-size: 14px;
    
}

/* outer card head css end*/

h6{
    font-size: 20px;
    font-weight: bolder;
    color:blue;
    
}
.inner-card-data{
    font-size: 14px;
    
    
    color: rgb(65, 64, 64);
    font-family: 'Crete Round', serif;
}
b{
    font-size: 18px;
    font-weight: bold;
}

#oci_id{
    display: none;
}
#public_ip{
    font-weight: lighter;
    color: green;
}
#private_ip{
    font-weight: lighter;
    color: green;

}
#out-data{
    font-weight: lighter;
    font-size: 17px;
}
a#align-btn {
    float: right;
    margin-left: 20px;
    color: blue;
    cursor: pointer;
  }
.in-delete{
    float: right;
    width: 170px;
}


/* conformation alert message style */
.dlg-container{
    position: absolute;
    left:50%;
    top: -40%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    z-index: 2;
  
  }
  .dlg-header{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background:blue;
    color:#f6f7f8
  }
  .dlg-body{
    padding: 10px;
    line-height: 30px;
    text-align: center;
  }
  .dlg-footer{
    text-align: center;
    background:#f5f5f2;
    padding: 3px 0;

  }
  .dlg-footer a{
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border:1px solid #ccc ;
    border-radius: 10px;
    background:#eee;
    cursor: pointer;
  }
  .dlg-footer a:active{
    box-shadow: inset 2px 2px 4px 0 #ccc;
    color: #666;
  }
  .freeze-layer{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index: 1;
  }
  /* details page css end */



  

  
 
  